@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Telegraf';
  src: url('/fonts/telegraf/Telegraf-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Telegraf';
  src: url('/fonts/telegraf/Telegraf-Ultrabold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

*{
  margin: 0px;
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
