@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Telegraf';
  src: url('/fonts/telegraf/Telegraf-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Telegraf';
  src: url('/fonts/telegraf/Telegraf-Ultrabold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 214, 219, 220;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    --background-rgb: 0, 0, 0;
  }
}

*{
  margin: 0px;
  scroll-behavior: smooth;
}
body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
